---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Objectives from "../components/Objectives.astro";
import Who from "../components/Who.astro";
import "../components/css/main.css";
import "../components/css/objectives.css";
---

<Layout title="Bienvenido a Mis Cultivos">
  <Main />
  <h2 class="subtitle">¿Quiénes somos?</h2>
  <Who />
  <h2 class="subtitle">Nuestros objetivos</h2>
  <Objectives />
</Layout>
