---
import Menu from "./Menu.astro"
---

<section class="intro">
  <div class="circle"></div>
  <header>
    <a href="" class="logo"
      ><img id="logo" src="favicon.svg" alt="mis_cultivos" /></a
    >
    <Menu />
  </header>
  <div class="content">
    <div class="textBox">
      <h2>Innovación agrícola sostenible:<br /><span>Mis Cultivos</span></h2>
      <p>
        "Transformamos la agricultura a través de la automatización con un
        enfoque sostenible, cultivando el futuro de manera inteligente y
        respetuosa con el medio ambiente."
      </p>
      <a href="login">Ingresar</a>
      <a href="">Vista Previa</a>
    </div>
    <div class="imgBox">
      <img src="img_main.svg" class="miscultivos" alt="img_main" />
    </div>
  </div>
</section>
