---
import Card from "./Card.astro";
---

<section class="objectives">
  <Card title="Optimización de Recursos" route="optimizacion.png">
    Implementar un sistema integral de automatización que permita una gestión
    más eficiente de recursos críticos como el agua y los nutrientes.
  </Card>
  <Card title="Mejora de la Productividad" route="productividad.png">
    Aumentar la eficiencia operativa mediante la automatización de tareas
    repetitivas.
  </Card>
  <Card title="Sostenibilidad Ambiental" route="el-planeta-tierra.png">
    Reducir la huella ambiental de la agricultura al optimizar el uso de insumos
    y alinear las prácticas agrícolas con principios sostenibles.
  </Card>
  <Card title="Toma de Decisiones Informada" route="caminos.png">
    Facilitar herramientas analíticas avanzadas a través de la página web,
    permitiendo a los agricultores tomar decisiones informadas basadas en datos
    precisos.
  </Card>
  <Card title="Interconexión y Comunicación" route="conexion.png">
    Fomentar la conectividad entre los agricultores, investigadores y expertos
    agrícolas a través de la plataforma en línea.
  </Card>
  <Card title="Adaptabilidad a Diversos Entornos" route="evaluacion.png">
    Diseñar el sistema de automatización de cultivos y la página web de manera
    modular y adaptable, para que pueda ser implementado en diversos entornos
    agrícolas.
  </Card>
  <Card title="Rentabilidad Agrícola" route="ganancias.png">
    Contribuir al aumento de la rentabilidad de los agricultores al mejorar la
    eficiencia y la calidad de la producción.
  </Card>
  <Card title="Educación y Capacitación" route="rompecabezas.png">
    Proporcionar recursos educativos y capacitación para que los agricultores
    adopten y aprovechen plenamente las capacidades de la automatización.
  </Card>
</section>
