---
---
<section class="who">
    <div class="textBox">
        <h3>Transformando la Agricultura con Innovación y Sostenibilidad: Bienvenido a Mis Cultivos</h3>
        <p>En Mis Cultivos, lideramos la revolución agrícola con soluciones innovadoras y sostenibles. Automatizamos procesos, optimizamos recursos y conectamos a la comunidad agrícola para impulsar el progreso. Desde la eficiencia operativa hasta la preservación del medio ambiente, ofrecemos herramientas tecnológicas y educación para transformar la agricultura de hoy y construir un futuro sostenible.</p>
    </div>
    <div class="imgBox">
        <img src="semilleros.svg" alt="">
    </div>
</section>

<style>

    .who{
        width: 90%;
        margin: 40px auto;
        padding: 0 30px;
        display: flex;
        justify-content: space-evenly;
    }

    .textBox{
        width: 45%;
    }

    .textBox h3{
        font-size: 1.8em;
        color: #72ae95;
    }

    .textBox p{
        font-size: 1.4em;
    }

    .imgBox{
        width: 32%;
    }

    @media(width < 750px){
        .who{
            flex-direction: column;
        }

        .textBox{
            width: 100%;
        }

        .imgBox{
            width: 100%;
            height: 300px;
        }
    }
</style>